.features-section {
  background: linear-gradient(to bottom, #272727 0%,#1a1a1a 100%) !important;
  padding: 80px 40px 40px 40px;
  h2 {
    color: $white;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .col-4 {
    padding-top: 40px;
    h4 {
      color: $white;
      font-weight: $thick-font;
      margin: 0;
      text-align: left;
      display: block;
      width: 100%;
    }
    p {
      color: $light-grey;
      text-align: left; 
      display: block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 50px;
    }
    img{
      padding-left: 10px;
    }
    &:nth-child(3){
      padding-top: 0;
    }
    &:nth-child(4){
      h4,p{
        text-align: right;
      }
    }
  }
}