.landing-section {
  background-image: url('../img/landing_background.jpg') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  min-height: 100vh;
  height: auto;
  .container {
    height: 100vh;
    .row .middle-elements {
      width: 100vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .logo {
        h1 {
          color: $white;
          font-weight: 100;
          font-size: 3.5em;
          margin-left: 10px;
          line-height: 1em;
          overflow: hidden;
          display: inline-block;
          transition: .15s ease-in-out;
          @media (max-width: $phone-landscape){
            font-size: 2.8em;
          }
          @media (max-width: $phone){
            font-size: 2em;
          }
        }
        img {
          max-width: 100%;
          height: auto;
          padding-bottom: 9px;
          transition: .15s ease-in-out;
          @media (max-width: $phone-landscape){
            width: 38%;
            padding-bottom: 6px;
          }
          @media (max-width: $phone){
            width: 140px;
            padding-bottom: 5px;
          }
        }
      }
      h2 {
          color: $white;
          font-weight: 100;
          font-size: 2.2em;
          margin-right: 90px;
          margin-top: 0;
          line-height: 0.8em;
          overflow: hidden;
          transition: .15s ease-in-out;
          @media (max-width: $phone-landscape){
            font-size: 1.5em;
            margin-right: 0;
          }
          @media (max-width: $phone){
            font-size: 1.4em;
            line-height: 1.2em;
          }
      }
      .transparent-button{
        color: white;
        border: 1px solid $white;
        padding: 7px 30px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 40px;
        transition: .1s ease-in-out;
        @media (max-width: $phone-landscape){
            font-size: 0.9em;
            padding: 5 20px;
        }
        @media (max-width: $phone){
            margin-top: 20px;
            font-size: 0.8em;
            padding: 10px 15px;
        }
        &:hover{
          background: $white;
          color: $dark-grey;
        }
      }
    }
    .arrow {
      position: absolute;
      bottom: 4em;
      animation: bounce 2s infinite;
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-30px);}
        60% {transform: translateY(-15px);}
      }
      @media (max-width: $phone){
            bottom: 2em;
      }
      i {
        color: $white;
      }
      .bounce {
          position: absolute;
          bottom: 30px;
          left: 50% ;
          
      }
    }
  }
}