.whats_included-section {
  background-image: url('../img/whats_included_bg.png') !important;
  background-repeat: no-repeat !important;
  background-position: center top-right !important;
  background-size: cover !important;
  .container {
    h2 {
      color: $white;
      margin-top: 50px;
    }
    .row {
      display: inline-block;
      width: 100vw;
      .col-12 { 
      display: inline-block;
      text-align: left;
      padding: 0 0 0 15vw;
      &:nth-child(1){
        margin-top: 50px;
        margin-bottom: 70px;
      }
      &:nth-child(2){
        margin-bottom: 100px;
      }
      h4 {
        color: $white;
        font-weight: $thick-font;
        margin-bottom: 10px;
      }
      p {
        color: $light-grey;
        margin: 0;
      }
    }
    }
  }
}