@import url("https://use.typekit.net/nmz1nsx.css"); // main font

// @Font
$font-stack: museo-sans-rounded, sans-serif;
$thick-font: 500;
$medium-font: 300;
$thin-font: 100;

// @Colors
$white: #ffffff;
$dark-grey: #181818;
$medium-grey: #626262;
$light-grey: #b1b1b1;
$inactive-link: #565656;
$dark-section: #262626;

// @break-points
$desktop: 1199px;
$tablet: 991px;
$phone-landscape: 767px;
$phone: 575px;
