section {
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 0vh;
	height: auto;
    text-align: center;
    &:nth-child(odd){
        background: $light-grey;
    }
}