// Desktop Navigation
nav {
	width: 100vw;
	height: 60px;
	position: fixed;
	top: 15px;
	left: 0;
	right: 0;
	z-index: 1;
	transition: .2s ease-in-out;
	.col-12 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 100px;
		.open-slide,
		.btn-close {
			display: none;
		}
		ul {
			list-style: none;
			margin-right: 100px;
			margin-top: 6px;
			li {
				display: inline-block;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				a {
					text-decoration: none;
					color: $inactive-link;
					font-weight: $medium-font;
					text-transform: lowercase;
					&:hover,
					&:focus {
						color: $white;
					}
				}
				.is-active{
					color: $white;
				}
			}
		}
		.logo {
			margin-top: 5px;
		}
	}
}

// Mobile Navigation
@media(max-width: $tablet){
	nav {
		height: 50px !important; // Initial nav + links + borders
		top: 0;
		background: #000 !important;
		.container {
			height: auto !important;
			.col-12{
				padding-left: 0;
				flex-direction: column;
				padding: 0px 20px 0px 10px !important;
				.mobile-visible {
					width: 100%;
					display: flex;
					justify-content: space-between;
					padding: 10px 20px 0 10px;
					@media(max-width: $phone-landscape){
						padding: 10px 20px;
					}
					.open-slide{
						display: block;
						margin-top: 5px;
						&:hover,
						&:focus {
							color: $white;
							cursor: pointer;
						}
					}
				}
				.links {
					margin-right: 0;
					z-index: -1;
					opacity: 0;
					transition: .2s ease-in-out;
					li {
						display: block;
						width: 100vw;
						margin-right: 0;
						background: $dark-grey;
						margin: 0;
						border: 1px solid darken($medium-grey, 20%);
						border-bottom: 0;
						&:last-child{
							border-bottom: 1px solid darken($medium-grey, 20%);
						}
						a {
							display: block;
							line-height: 50px;
							text-transform: initial;
						}
					}
				}
			}
		}
	}
}

.mobile-nav-open{
	@media(max-width: $tablet){
		height: calc(50px + 300px + 7px) !important; // Initial nav + Links Height + Borders
	}
}
.mobile-links-visible {
	z-index: 3 !important;
	opacity: 1 !important;
}