nav {
	width: 100vw;
	height: 60px;
	position: fixed;
	top: 15px;
	left: 0;
	right: 0;
	z-index: 1;
	transition: .2s ease-in-out;
	border-bottom: 1px solid darken($inactive-link, 5%);

	.col-12 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 100px;
		ul {
			list-style: none;
			margin-right: 100px;
			margin-top: 6px;
			li {
				display: inline-block;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				a {
					text-decoration: none;
					color: $inactive-link;
					font-weight: $medium-font;
					text-transform: lowercase;
					&:hover,
					&:focus {
						color: $white;
					}
				}
				.is-active{
					color: $white;
				}
			}
		}
		.logo {
			margin-top: 5px;
		}
	}
}